<div class="navbar">
    <div class="flex-container row">
        <div class="flex-container row">
            <div class="col-sm">
                <div class="logo">
                    <img alt="" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSYlhXUBii69fVek0h2lqwealdNOXfsFF1Sh2FcMlUDsavuy8v-">
                </div>
            </div>
            <div class="col">
                <div class="title">
                    <h1>Reports Viewer</h1>
                </div>
            </div>
        </div>
        <div class="col"></div>
        <div class="col-sm">
            <div class="flex-container row user-profile">
                <div class="col-sm">
                    <div class="avatar">
                        <i class="material-icons dark large">account_circle</i>
                    </div>
                </div>
                <div class="col">
                    <div class="flex-container col info">
                        <div class="col name">Guest</div>
                        <div class="col job-title">Business Intelligence</div>
                    </div>
                </div>
                <div class="col-xs">
                    <div class="arrow-dwn">
                        <i class="material-icons dark small">arrow_drop_down</i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>